@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Assignment 2 - Thai Hoa Huynh</h1>
    <p class="lead">
        This web app allows users to sort and filter tracks in the views. Users can also view a list of invoices and display details about each invoice using this app.
    </p>
</div>
